@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-1: #f2e4e0;
	--color-4: #ff5f56;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	color: var(--color-4);
	background-color: var(--color-1);
}
